/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
  font-weight: 400 700;
  -webkit-font-feature-settings: "clig" off, "liga" off;
  font-feature-settings: "clig" off, "liga" off;
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.3;
}
@media screen and (max-width: 767.98px) {
  body {
    font-size: 1.25rem;
  }
}

.container {
  max-width: 108.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.625rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 0px 1fr 0px auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.content > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.content > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  letter-spacing: 0.5px;
  letter-spacing: 0;
}

.main {
  overflow-x: hidden;
}

.main {
  position: relative;
}
.main__header {
  position: absolute;
  top: 3.125rem;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
.main__header__title {
  font-family: "Actay Wide", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.main__header__title > p:first-child {
  font-size: 28px;
}
@media screen and (max-width: 767.98px) {
  .main__header {
    top: 0.625rem;
    gap: 0.4375rem;
    width: calc(100% - 1.25rem);
  }
  .main__header > img {
    width: 1.6875rem;
    height: 2.125rem;
  }
  .main__header__title {
    font-size: 9px;
  }
  .main__header__title > p:first-child {
    font-size: 14px;
  }
}

.splide {
  height: 100vh;
}
.splide__track {
  height: 100%;
}
.splide__slide {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.splide__slide picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.splide__slide img {
  width: 100%;
  height: 100%;
}
.splide__slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 0 10vw 9.375rem 6.25rem;
  z-index: 10;
}
.splide__slide__content > img {
  width: 4.5rem;
  height: 4.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}
.splide__slide__content__title {
  font-family: "Actay", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.splide__slide__content__title > p:first-child {
  font-family: "Actay Wide", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}
@media screen and (max-width: 767.98px) {
  .splide__slide__content {
    gap: 0.75rem;
    padding: 0 0.625rem 3.4375rem 0.625rem;
  }
  .splide__slide__content > img {
    width: 1.6875rem;
    height: 1.6875rem;
  }
  .splide__slide__content__title {
    font-size: 24px;
  }
  .splide__slide__content__title > p:first-child {
    font-size: 1.6875rem;
  }
}
.splide__pagination {
  bottom: 4.0625rem;
  gap: 0.625rem;
}
.splide__pagination__page {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  opacity: 1;
  background: transparent;
  border: 3px solid #fff;
}
.splide__pagination__page.is-active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (max-width: 767.98px) {
  .splide__pagination {
    bottom: 1.25rem;
    gap: 0.5rem;
  }
}