/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
  font-weight: 400 700;
  -webkit-font-feature-settings: "clig" off, "liga" off;
  font-feature-settings: "clig" off, "liga" off;
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
}
@media screen and (max-width: 991.98px) {
  body {
    font-size: 1rem;
  }
}

.container {
  max-width: 108.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.625rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 0px 1fr 0px auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.content > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.content > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.main {
  overflow-x: hidden;
}

h1 {
  font-family: "Actay Wide", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  color: #00adeb;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: "Actay Wide", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
@media screen and (max-width: 991.98px) {
  h3 {
    font-size: 1.25rem;
  }
}

.button {
  display: block;
  padding: 1.3125rem 1.75rem;
  background-color: #00adeb;
  border-radius: 50px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 991.98px) {
  .button {
    padding: 0.8125rem 2.5rem;
    font-size: 1.125rem;
  }
}

sup {
  position: relative;
  top: -5px;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 767.98px) {
  sup {
    top: 0;
    font-size: 1.125rem;
  }
}

.main {
  position: relative;
}
.main__header {
  position: absolute;
  top: 3.125rem;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
.main__header__title {
  font-family: "Actay Wide", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.main__header__title > p:first-child {
  font-size: 28px;
}
@media screen and (max-width: 767.98px) {
  .main__header {
    top: 0.625rem;
    gap: 0.4375rem;
    width: calc(100% - 1.25rem);
  }
  .main__header > img {
    width: 1.6875rem;
    height: 2.125rem;
  }
  .main__header__title {
    font-size: 9px;
  }
  .main__header__title > p:first-child {
    font-size: 14px;
  }
}

.splide {
  height: 100vh;
}
.splide__track {
  height: 100%;
}
.splide__slide {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.splide__slide picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.splide__slide img {
  width: 100%;
  height: 100%;
}
.splide__slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 0 10vw 9.375rem 6.25rem;
  z-index: 10;
}
.splide__slide__content > img {
  width: 4.5rem;
  height: 4.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}
.splide__slide__content__title {
  font-family: "Actay", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.splide__slide__content__title > p:first-child {
  font-family: "Actay Wide", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}
@media screen and (max-width: 991.98px) {
  .splide__slide__content {
    gap: 1rem;
    padding: 0 1.25rem 4.6875rem 1.25rem;
  }
  .splide__slide__content > img {
    width: 2.125rem;
    height: 2.125rem;
  }
  .splide__slide__content__title {
    font-size: 1.875rem;
  }
  .splide__slide__content__title > p:first-child {
    font-size: 2.125rem;
  }
}
@media screen and (max-width: 767.98px) {
  .splide__slide__content {
    gap: 0.75rem;
    padding: 0 0.625rem 3.4375rem 0.625rem;
  }
  .splide__slide__content > img {
    width: 1.6875rem;
    height: 1.6875rem;
  }
  .splide__slide__content__title {
    font-size: 24px;
  }
  .splide__slide__content__title > p:first-child {
    font-size: 1.6875rem;
  }
}
.splide__pagination {
  bottom: 4.0625rem;
  gap: 0.625rem;
}
.splide__pagination__page {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  opacity: 1;
  background: transparent;
  border: 3px solid #fff;
}
.splide__pagination__page.is-active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (max-width: 991.98px) {
  .splide__pagination {
    bottom: 2.5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .splide__pagination {
    bottom: 1.25rem;
    gap: 0.5rem;
  }
}

.section--hero {
  padding: 7.5rem 0 7rem;
}
@media screen and (max-width: 767.98px) {
  .section--hero {
    padding: 3.5rem 0 3.125rem;
  }
}
.section--hero .container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.section--hero .container .button {
  -ms-grid-row-align: center;
  align-self: center;
}
.section--hero .container h2 {
  margin-top: 3.125rem;
}
@media screen and (max-width: 767.98px) {
  .section--hero .container {
    gap: 1.25rem;
  }
  .section--hero .container .button {
    -ms-grid-row-align: normal;
    align-self: normal;
  }
  .section--hero .container h2 {
    margin-top: 1.875rem;
  }
}
.section--hero__content {
  display: flex;
  gap: 3.625rem;
}
.section--hero__content__left {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-top: 3.125rem;
}
.section--hero__content__left__square {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 2.8125rem 3.4375rem 2rem;
  background: #f8fcff;
  border-radius: 30px;
}
.section--hero__content__left__square .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 35px;
  background: #fff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section--hero__content__left__square > p:first-of-type {
  font-family: "Actay Wide", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  color: #00adeb;
}
.section--hero__content__right {
  width: 65%;
  margin-top: -3.125rem;
}
.section--hero__content__right picture,
.section--hero__content__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 991.98px) {
  .section--hero__content__left {
    width: 50%;
    gap: 2rem;
  }
  .section--hero__content__right {
    width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .section--hero__content {
    flex-direction: column-reverse;
    gap: 4rem;
    margin-top: 0.625rem;
  }
  .section--hero__content__left {
    width: 100%;
  }
  .section--hero__content__left__square {
    -ms-grid-row-align: none;
    align-self: none;
    padding: 0 2.1875rem 1.875rem 1.5625rem;
    background: #f8fcff;
    border-radius: 30px;
  }
  .section--hero__content__left__square .icon {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 27px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
  }
  .section--hero__content__left__square > p:first-of-type {
    font-size: 3.125rem;
  }
  .section--hero__content__right {
    width: 100%;
    margin-top: 0;
  }
}
.section--hero__text {
  display: flex;
  flex-direction: column;
  gap: 2.3125rem;
}
.section--hero__text__title {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.4;
}
.section--hero__text__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (max-width: 767.98px) {
  .section--hero__text {
    gap: 1.375rem;
  }
  .section--hero__text__title {
    font-size: 1.125rem;
  }
  .section--hero__text__content {
    gap: 0.625rem;
    font-size: 0.875rem;
  }
}
.section--hero__avatar {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.125rem;
}
.section--hero__avatar picture,
.section--hero__avatar img {
  flex-shrink: 0;
  width: 10.3125rem;
  height: 10.3125rem;
}
.section--hero__avatar p {
  flex: 1;
}
.section--hero__avatar span {
  display: block;
  font-weight: 700;
}
@media screen and (max-width: 767.98px) {
  .section--hero__avatar {
    gap: 0.625rem;
    font-size: 0.8125rem;
  }
  .section--hero__avatar picture,
  .section--hero__avatar img {
    width: 5.4375rem;
    height: 5.4375rem;
  }
}

.climate__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25rem 1fr 1.25rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5625rem 1.25rem;
}
@media screen and (max-width: 767.98px) {
  .climate__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.climate__item {
  display: flex;
  align-items: center;
  gap: clamp(0.625rem, 2vw, 4.0625rem);
  padding: 3.125rem clamp(3.125rem, 3vw, 5.625rem) 3.125rem clamp(0.625rem, 2vw, 2.1875rem);
  border-radius: 30px;
  background-color: #f8fcff;
}
.climate__item img {
  width: 5rem;
  height: 5rem;
}
.climate__item__text {
  font-size: 1rem;
  line-height: 1.4;
}
.climate__item__text p:first-child {
  font-size: 1.25rem;
  font-weight: 700;
}
@media screen and (max-width: 991.98px) {
  .climate__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.625rem;
    padding: 1rem 1.25rem 1.25rem;
  }
  .climate__item img {
    width: 3.25rem;
    height: 3.25rem;
  }
}

.section--resources__item {
  margin-bottom: 4.375rem;
}
@media screen and (max-width: 767.98px) {
  .section--resources__item {
    margin-bottom: 2.75rem;
  }
}
.section--resources__item h3 {
  position: relative;
  padding: 4.8125rem 0;
  text-align: center;
}
.section--resources__item h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url("../images/climate-title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 991.98px) {
  .section--resources__item h3 {
    padding: 1.5625rem 0;
  }
  .section--resources__item h3:before {
    display: none;
  }
}
.section--resources__item:last-of-type {
  padding: 1.625rem 2.25rem 5.75rem;
  border-radius: 50px;
  background: #f8fcff;
}
.section--resources__item:last-of-type h3:before {
  background-image: url("../images/resources-title.png");
}
@media screen and (max-width: 991.98px) {
  .section--resources__item:last-of-type {
    padding: 0.9375rem 0.625rem 1.125rem;
  }
}

.mineral__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25rem 1fr 1.25rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 3.125rem;
}
.mineral__item {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 2.8125rem 3.4375rem 2rem;
  background: #fff;
  border-radius: 30px;
}
.mineral__item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 35px;
  background: #fff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mineral__item > p:first-of-type {
  font-family: "Actay Wide", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  color: #00adeb;
}
.mineral__item > p:last-of-type {
  width: 80%;
}
@media screen and (max-width: 767.98px) {
  .mineral__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 3.625rem;
    margin-top: 3.125rem;
  }
  .mineral__item {
    -ms-grid-row-align: none;
    align-self: none;
    padding: 0 2.1875rem 1.875rem 1.5625rem;
  }
  .mineral__item .icon {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 27px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
  }
  .mineral__item > p:first-of-type {
    font-size: 3.125rem;
    line-height: 1;
  }
  .mineral__item > p:last-of-type {
    width: 100%;
  }
}

.material__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5625rem 1fr 1.5625rem 1fr 1.5625rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5625rem;
  margin-top: 4.25rem;
  margin-bottom: 10rem;
}
.material__item {
  display: flex;
  flex-direction: column;
}
.material__item img {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1rem;
  border-radius: 35px;
}
.material__item > p:last-of-type {
  font-size: 2rem;
  font-weight: 700;
  color: #d0118c;
}
@media screen and (max-width: 767.98px) {
  .material__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 1.375rem;
    margin-bottom: 3.125rem;
  }
  .material__item img {
    margin-bottom: 0;
  }
}

.stocks__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.375rem;
}
.stocks__items h3 {
  padding: 0;
  text-align: center;
}
.stocks__items .wrapper {
  display: flex;
  justify-content: center;
  gap: 6.25rem;
}
@media screen and (max-width: 767.98px) {
  .stocks__items {
    align-items: stretch;
    gap: 1.5625rem;
  }
  .stocks__items .wrapper {
    flex-direction: column;
    gap: 1.25rem;
  }
}
.stocks__item {
  display: flex;
  gap: 1.25rem;
}
.stocks__item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  padding: 1.25rem;
  border-radius: 35px;
  background: #fff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
}
.stocks__item .text {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
.stocks__item .text p:last-child {
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.75;
  color: #00adeb;
}
@media screen and (max-width: 767.98px) {
  .stocks__item {
    gap: 0.9375rem;
  }
  .stocks__item .icon {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 27px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
  }
  .stocks__item .text {
    gap: 1.0625rem;
  }
  .stocks__item .text p:last-child {
    font-size: 2.25rem;
  }
}