@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.woff2") format("woff2");
  font-display: swap;
  font-weight: 400 700;
  font-feature-settings:
    "clig" off,
    "liga" off;
}

@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
