.main {
  position: relative;

  &__header {
    position: absolute;
    top: torem(50);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: torem(15);
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;

    &__title {
      font-family: "Actay Wide", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      color: $white;
      text-transform: uppercase;

      > p {
        &:first-child {
          font-size: 28px;
        }
      }
    }

    @include sm-breakpoint {
      top: torem(10);
      gap: torem(7);
      width: calc(100% - torem(20));

      > img {
        width: torem(27);
        height: torem(34);
      }

      &__title {
        font-size: 9px;

        > p {
          &:first-child {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.splide {
  height: 100vh;

  &__track {
    height: 100%;
  }

  &__slide {
    position: relative;
    display: flex;
    align-items: flex-end;

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: torem(30);
      padding: 0 10vw torem(150) torem(100);
      z-index: 10;

      > img {
        width: torem(72);
        height: torem(72);
        object-fit: contain;
      }

      &__title {
        font-family: "Actay", sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 1;
        color: $white;
        text-transform: uppercase;

        > p {
          &:first-child {
            font-family: "Actay Wide", sans-serif;
            font-size: torem(72);
            font-weight: 700;
          }
        }
      }

      @include md-breakpoint {
        gap: torem(16);
        padding: 0 torem(20) torem(75) torem(20);

        > img {
          width: torem(34);
          height: torem(34);
        }

        &__title {
          font-size: torem(30);

          > p {
            &:first-child {
              font-size: torem(34);
            }
          }
        }
      }

      @include sm-breakpoint {
        gap: torem(12);
        padding: 0 torem(10) torem(55) torem(10);

        > img {
          width: torem(27);
          height: torem(27);
        }

        &__title {
          font-size: 24px;

          > p {
            &:first-child {
              font-size: torem(27);
            }
          }
        }
      }
    }
  }

  &__pagination {
    bottom: torem(65);
    gap: torem(10);

    &__page {
      width: torem(12);
      height: torem(12);
      margin: 0;
      opacity: 1;
      background: transparent;
      border: 3px solid $white;

      &.is-active {
        transform: scale(1.2);
        opacity: 1;
      }
    }

    @include md-breakpoint {
      bottom: torem(40);
    }

    @include sm-breakpoint {
      bottom: torem(20);
      gap: torem(8);
    }
  }
}

.section--hero {
  padding: torem(120) 0 torem(112);

  @include sm-breakpoint {
    padding: torem(56) 0 torem(50);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: torem(28);

    .button {
      align-self: center;
    }

    h2 {
      margin-top: torem(50);
    }

    @include sm-breakpoint {
      gap: torem(20);

      .button {
        align-self: normal;
      }

      h2 {
        margin-top: torem(30);
      }
    }
  }

  &__content {
    display: flex;
    gap: torem(58);

    &__left {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: torem(60);
      margin-top: torem(50);

      &__square {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0 torem(45) torem(55) torem(32);
        background: $whiteDarken;
        border-radius: 30px;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: torem(100);
          height: torem(100);
          border-radius: 35px;
          background: $white;
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
          transform: translateY(-50%);
        }

        > p {
          &:first-of-type {
            font-family: "Actay Wide", sans-serif;
            font-size: torem(64);
            font-weight: 700;
            line-height: normal;
            color: $blue;
          }
        }
      }
    }

    &__right {
      width: 65%;
      margin-top: torem(-50);

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @include md-breakpoint {
      &__left {
        width: 50%;
        gap: torem(32);
      }

      &__right {
        width: 50%;
      }
    }

    @include sm-breakpoint {
      flex-direction: column-reverse;
      gap: torem(64);
      margin-top: torem(10);

      &__left {
        width: 100%;

        &__square {
          align-self: none;
          padding: 0 torem(35) torem(30) torem(25);
          background: $whiteDarken;
          border-radius: 30px;

          .icon {
            width: torem(78);
            height: torem(78);
            padding: torem(14);
            border-radius: 27px;
            box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
          }

          > p {
            &:first-of-type {
              font-size: torem(50);
            }
          }
        }
      }

      &__right {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: torem(37);

    &__title {
      font-size: torem(34);
      font-weight: 700;
      line-height: 1.4;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: torem(20);
    }

    @include sm-breakpoint {
      gap: torem(22);

      &__title {
        font-size: torem(18);
      }

      &__content {
        gap: torem(10);
        font-size: torem(14);
      }
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    gap: torem(20);
    font-size: torem(18);

    picture,
    img {
      flex-shrink: 0;
      width: torem(165);
      height: torem(165);
    }

    p {
      flex: 1;
    }

    span {
      display: block;
      font-weight: 700;
    }

    @include sm-breakpoint {
      gap: torem(10);
      font-size: torem(13);

      picture,
      img {
        width: torem(87);
        height: torem(87);
      }
    }
  }
}

.climate {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: torem(25) torem(20);

    @include sm-breakpoint {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: clamp(torem(10), 2vw, torem(65));
    padding: torem(50) clamp(torem(50), 3vw, torem(90)) torem(50)
      clamp(torem(10), 2vw, torem(35));
    border-radius: 30px;
    background-color: $whiteDarken;

    img {
      width: torem(80);
      height: torem(80);
    }

    &__text {
      font-size: torem(16);
      line-height: 1.4;

      p {
        &:first-child {
          font-size: torem(20);
          font-weight: 700;
        }
      }
    }

    @include md-breakpoint {
      flex-direction: column;
      align-items: flex-start;
      gap: torem(26);
      padding: torem(16) torem(20) torem(20);

      img {
        width: torem(52);
        height: torem(52);
      }
    }
  }
}

.section--resources {
  &__item {
    margin-bottom: torem(70);

    @include sm-breakpoint {
      margin-bottom: torem(44);
    }

    h3 {
      position: relative;
      padding: torem(77) 0;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        background-image: url("../images/climate-title.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateX(-50%);
      }

      @include md-breakpoint {
        padding: torem(25) 0;

        &:before {
          display: none;
        }
      }
    }

    &:last-of-type {
      padding: torem(26) torem(36) torem(92);
      border-radius: 50px;
      background: $whiteDarken;

      h3 {
        &:before {
          background-image: url("../images/resources-title.png");
        }
      }

      @include md-breakpoint {
        padding: torem(15) torem(10) torem(18);
      }
    }
  }
}

.mineral {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: torem(20);
    margin-top: torem(50);
  }

  &__item {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 torem(45) torem(55) torem(32);
    background: $white;
    border-radius: 30px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: torem(100);
      height: torem(100);
      border-radius: 35px;
      background: $white;
      box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
      transform: translateY(-50%);
    }

    > p {
      &:first-of-type {
        font-family: "Actay Wide", sans-serif;
        font-size: torem(64);
        font-weight: 700;
        line-height: normal;
        color: $blue;
      }

      &:last-of-type {
        width: 80%;
      }
    }
  }

  @include sm-breakpoint {
    &__items {
      grid-template-columns: 1fr;
      gap: torem(58);
      margin-top: torem(50);
    }

    &__item {
      align-self: none;
      padding: 0 torem(35) torem(30) torem(25);

      .icon {
        width: torem(78);
        height: torem(78);
        padding: torem(14);
        border-radius: 27px;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
      }

      > p {
        &:first-of-type {
          font-size: torem(50);
          line-height: 1;
        }

        &:last-of-type {
          width: 100%;
        }
      }
    }
  }
}

.material {
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: torem(25);
    margin-top: torem(68);
    margin-bottom: torem(160);
  }

  &__item {
    display: flex;
    flex-direction: column;

    img {
      width: torem(100);
      height: torem(100);
      margin-bottom: torem(16);
      border-radius: 35px;
    }

    > p {
      &:last-of-type {
        font-size: torem(32);
        font-weight: 700;
        color: $pink;
      }
    }
  }

  @include sm-breakpoint {
    &__items {
      grid-template-columns: 1fr;
      gap: torem(40);
      margin-top: torem(22);
      margin-bottom: torem(50);
    }

    &__item {
      img {
        margin-bottom: 0;
      }
    }
  }
}

.stocks {
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: torem(54);

    h3 {
      padding: 0;
      text-align: center;
    }

    .wrapper {
      display: flex;
      justify-content: center;
      gap: torem(100);
    }

    @include sm-breakpoint {
      align-items: stretch;
      gap: torem(25);

      .wrapper {
        flex-direction: column;
        gap: torem(20);
      }
    }
  }

  &__item {
    display: flex;
    gap: torem(20);

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: torem(100);
      height: torem(100);
      padding: torem(20);
      border-radius: 35px;
      background: $white;
      box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: torem(22);

      p {
        &:last-child {
          font-size: torem(64);
          font-weight: 700;
          line-height: 0.75;
          color: $blue;
        }
      }
    }

    @include sm-breakpoint {
      gap: torem(15);

      .icon {
        width: torem(78);
        height: torem(78);
        padding: torem(14);
        border-radius: 27px;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
      }

      .text {
        gap: torem(17);

        p {
          &:last-child {
            font-size: torem(36);
          }
        }
      }
    }
  }
}

.section--recreatiion {
  margin-bottom: torem(116);

  h3 {
    position: relative;
    padding: torem(77) 0;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      background-image: url("../images/resources-title-2.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      transform: translateX(-50%);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(80);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: torem(46);

    > * {
      flex: 1;
    }

    picture {
      img {
        height: 100%;
      }
    }

    &__text {
      font-size: torem(16);
      line-height: 1.4;

      .title {
        display: flex;
        align-items: center;
        gap: torem(20);
        margin-bottom: torem(12);
        font-family: "Actay Wide", sans-serif;
        font-size: torem(32);
        font-weight: 700;
        line-height: 1.4;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: torem(100);
          height: torem(100);
          border-radius: 35px;
          background: $white;
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
        }
      }

      p {
        &:not(:last-child) {
          margin-bottom: torem(16);
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: torem(5);
        padding-left: torem(20);

        li {
          list-style-type: disc;
        }
      }
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  @include sm-breakpoint {
    margin-bottom: torem(56);

    h3 {
      padding: 0 0 torem(24);

      &:before {
        display: none;
      }
    }

    &__items {
      gap: torem(40);
      margin-bottom: torem(40);
    }

    &__item {
      flex-direction: column-reverse;
      gap: torem(20);

      &__text {
        .title {
          gap: torem(10);
          margin-bottom: torem(10);
          font-size: torem(20);

          .icon {
            width: torem(78);
            height: torem(78);
            padding: torem(14);
            border-radius: 27px;
            box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
          }
        }

        p {
          &:not(:last-child) {
            margin-bottom: torem(10);
          }
        }
      }

      picture {
        aspect-ratio: 16/9;
      }

      &.reverse {
        flex-direction: column-reverse;
      }
    }
  }

  &--icon {
    padding: torem(114) 0 torem(80);
    border-radius: 80px;
    background: $whiteDarken;

    h2 {
      margin-bottom: torem(68);
    }

    @include sm-breakpoint {
      padding: torem(30) 0 torem(35);
      border-radius: 30px;

      h2 {
        margin-bottom: torem(28);
      }
    }
  }
}

.section--priority {
  padding-bottom: torem(160);

  h2 {
    margin-bottom: torem(76);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(torem(10), 2.5vw, torem(80));
    gap: clamp(torem(20), 3vw, torem(120));
  }

  &__item {
    &:first-child {
      min-width: torem(140);

      img {
        height: auto;
      }
    }

    &:last-child {
      flex: 1;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, auto);
      justify-content: end;
      align-items: center;
      align-content: center;
      gap: torem(23) torem(50);
      font-size: torem(24);

      span {
        font-size: torem(28);
        font-weight: 700;
      }

      .item {
        position: relative;
        padding-left: torem(53);

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: torem(33);
          height: torem(33);
          background: $blue;
          border-radius: 10px;
          transform: translateY(-50%);
        }

        &:nth-child(2) {
          &:before {
            background: $pink;
          }
        }

        &:nth-child(3) {
          &:before {
            background: #00a056;
          }
        }

        &:nth-child(4) {
          &:before {
            background: #564793;
          }
        }

        &:nth-child(5) {
          &:before {
            background: #ffac21;
          }
        }

        &:nth-child(6) {
          &:before {
            background: #e4f0fa;
          }
        }
      }
    }
  }

  @include sm-breakpoint {
    padding-bottom: torem(30);

    h2 {
      margin-bottom: torem(25);
    }

    &__items {
      flex-direction: column;
      padding: 0;
      gap: torem(30);
    }

    &__item {
      &:first-child {
        min-width: torem(140);

        img {
          height: auto;
          margin: 0 auto;
        }
      }

      &:last-child {
        grid-template-columns: 1fr;
        align-items: center;
        align-content: center;
        gap: torem(12);
        font-size: torem(14);

        span {
          font-size: torem(16);
        }

        .item {
          padding-left: torem(32);

          &:before {
            width: torem(20);
            height: torem(20);
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.section--list {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: torem(20);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: torem(40);
    padding: torem(40) torem(42);
    border-radius: 30px;
    background: $whiteDarken;

    &__title {
      display: flex;
      align-items: center;
      gap: torem(46);

      .title {
        font-size: torem(16);
        font-weight: 700;
        line-height: 1.4;

        p {
          &:last-child {
            font-size: torem(20);
          }
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: torem(100);
        height: torem(100);
        padding: torem(20);
        border-radius: 35px;
        background: $white;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: torem(8);
      padding-left: torem(20);
      font-size: torem(14);

      li {
        list-style-type: disc;
      }
    }
  }

  @include sm-breakpoint {
    &__items {
      grid-template-columns: 1fr;
    }

    &__item {
      gap: torem(20);
      padding: torem(16) torem(15) torem(24);
      border-radius: 30px;

      &__title {
        flex-direction: column;
        align-items: flex-start;
        gap: torem(20);

        .icon {
          width: torem(78);
          height: torem(78);
          padding: torem(14);
          border-radius: 27px;
          box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
