.main {
  position: relative;

  &__header {
    position: absolute;
    top: torem(50);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: torem(15);
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;

    &__title {
      font-family: "Actay Wide", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      color: $white;
      text-transform: uppercase;

      > p {
        &:first-child {
          font-size: 28px;
        }
      }
    }

    @include sm-breakpoint {
      top: torem(10);
      gap: torem(7);
      width: calc(100% - torem(20));

      > img {
        width: torem(27);
        height: torem(34);
      }

      &__title {
        font-size: 9px;

        > p {
          &:first-child {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.splide {
  height: 100vh;

  &__track {
    height: 100%;
  }

  &__slide {
    position: relative;
    display: flex;
    align-items: flex-end;

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: torem(30);
      padding: 0 10vw torem(150) torem(100);
      z-index: 10;

      > img {
        width: torem(72);
        height: torem(72);
        object-fit: contain;
      }

      &__title {
        font-family: "Actay", sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 1;
        color: $white;
        text-transform: uppercase;

        > p {
          &:first-child {
            font-family: "Actay Wide", sans-serif;
            font-size: torem(72);
            font-weight: 700;
          }
        }
      }

      @include md-breakpoint {
        gap: torem(16);
        padding: 0 torem(20) torem(75) torem(20);

        > img {
          width: torem(34);
          height: torem(34);
        }

        &__title {
          font-size: torem(30);

          > p {
            &:first-child {
              font-size: torem(34);
            }
          }
        }
      }

      @include sm-breakpoint {
        gap: torem(12);
        padding: 0 torem(10) torem(55) torem(10);

        > img {
          width: torem(27);
          height: torem(27);
        }

        &__title {
          font-size: 24px;

          > p {
            &:first-child {
              font-size: torem(27);
            }
          }
        }
      }
    }
  }

  &__pagination {
    bottom: torem(65);
    gap: torem(10);

    &__page {
      width: torem(12);
      height: torem(12);
      margin: 0;
      opacity: 1;
      background: transparent;
      border: 3px solid $white;

      &.is-active {
        transform: scale(1.2);
        opacity: 1;
      }
    }

    @include md-breakpoint {
      bottom: torem(40);
    }

    @include sm-breakpoint {
      bottom: torem(20);
      gap: torem(8);
    }
  }
}

.section--hero {
  padding: torem(120) 0 torem(112);

  @include sm-breakpoint {
    padding: torem(56) 0 torem(50);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: torem(28);

    .button {
      align-self: center;
    }

    h2 {
      margin-top: torem(50);
    }

    @include sm-breakpoint {
      gap: torem(20);

      .button {
        align-self: normal;
      }

      h2 {
        margin-top: torem(30);
      }
    }
  }

  &__content {
    display: flex;
    gap: torem(58);

    &__left {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: torem(60);
      margin-top: torem(50);

      &__square {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0 torem(45) torem(55) torem(32);
        background: $whiteDarken;
        border-radius: 30px;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: torem(100);
          height: torem(100);
          border-radius: 35px;
          background: $white;
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
          transform: translateY(-50%);
        }

        > p {
          &:first-of-type {
            font-family: "Actay Wide", sans-serif;
            font-size: torem(64);
            font-weight: 700;
            line-height: normal;
            color: $blue;
          }
        }
      }
    }

    &__right {
      width: 65%;
      margin-top: torem(-50);

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @include md-breakpoint {
      &__left {
        width: 50%;
        gap: torem(32);
      }

      &__right {
        width: 50%;
      }
    }

    @include sm-breakpoint {
      flex-direction: column-reverse;
      gap: torem(64);
      margin-top: torem(10);

      &__left {
        width: 100%;

        &__square {
          align-self: none;
          padding: 0 torem(35) torem(30) torem(25);
          background: $whiteDarken;
          border-radius: 30px;

          .icon {
            width: torem(78);
            height: torem(78);
            border-radius: 27px;
            box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
          }

          > p {
            &:first-of-type {
              font-size: torem(50);
            }
          }
        }
      }

      &__right {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: torem(37);

    &__title {
      font-size: torem(34);
      font-weight: 700;
      line-height: 1.4;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: torem(20);
    }

    @include sm-breakpoint {
      gap: torem(22);

      &__title {
        font-size: torem(18);
      }

      &__content {
        gap: torem(10);
        font-size: torem(14);
      }
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    gap: torem(20);
    font-size: torem(18);

    picture,
    img {
      width: torem(165);
      height: torem(165);
    }

    p {
      flex: 1;
    }

    span {
      display: block;
      font-weight: 700;
    }

    @include sm-breakpoint {
      gap: torem(10);
      font-size: torem(13);

      picture,
      img {
        width: torem(87);
        height: torem(87);
      }
    }
  }
}
